* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Định dạng mặc định cho navbar */
.navbar {
    background-color: #333;
    padding: 10px 0;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
}

/* Khi active, đổi màu nền và chữ */
.nav-list li a.active, .nav-list li a.active:hover {
    background-color: #ff9800;
    border-radius: 5px;
    color: white;
}

/* Hover cho menu */
.nav-list li a:hover {
    background-color: #575757;
    border-radius: 5px;
}
